<div class="gallery-wrapper mt-4">
  <h3 class="text-warning mb-4">Galeria zdjęć</h3>

  <!-- Przycisk przewijania w lewo -->
  <button class="scroll-btn left-btn" (click)="scrollGallery(-320)"></button>

  <!-- Scrollowana Galeria -->
  <div class="gallery-container" id="gallery">
    @for (image of images; track $index) {
      <div 
        class="gallery-item shadow-sm" 
        (click)="enlargeImage(image)"
      >
        <img [src]="image" alt="Obraz z posta" />
      </div>
    }
  </div>

  <!-- Przycisk przewijania w prawo -->
  <button class="scroll-btn right-btn" (click)="scrollGallery(320)"></button>

  <!-- Powiększony obraz -->
  @if (enlargedImage) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="enlargedImage" alt="Powiększony obraz" class="enlarged-img shadow-lg" />
    </div>
  }
</div>
