.btn-primary {
    background-color: #ffcc80; /* Kolor tła przycisku */
    border-color: #ffd699; /* Kolor obramowania przycisku */
    color: #704214; /* Kolor tekstu przycisku */
    margin-top: 0.5em; /* Odstęp od pola wyszukiwania */
}

.btn-primary:hover {
    background-color: #ffdab9; /* Kolor tła przycisku przy najechaniu */
    border-color: #ffd699; /* Kolor obramowania przycisku przy najechaniu */
}